# Markov                                                                        
markov_state_models/deeptime/.ipynb_checkpoints

# SD2E
SD2E/sd2e-cli/build_git/sd2e_files/*
SD2E/sd2e-cli/dev_container/configuration.rc

# Ignore swp files
*.swp

# tarballs and the like
*.tgz
